<p>{{ login_message }}</p>
<p>
  {{ login_facebook }}<br/>
  {{ 'Or via' | t }} {{ login_twitter }}, {{ login_google }} {{ 'or' | t }} {{ login_mail }}
</p>
<p>
  {% trans %}Don't have an UiTiD? Create a {{ register }}{% endtrans %}
</p>
